<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="Tests in Chrome">

        <classes>
            <class name="tests.BookTicketTests"/>
            <class name="tests.CancelTicketTests"/>
            <class name="tests.LoginTests"/>
            <class name="tests.RegisterTests"/>
            <class name="tests.BookTicketTests"/>
            <class name="tests.ChangePasswordTests"/>
        </classes>

    </test>
</suite>
